*.hi
*.o
*.beam

*.gem
*.rbc
#.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

#dat/
oauth.txt
.metadata
testoauth.txt
log.txt

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
bower_components
oauth.txt


